build/
install/
log/

__pycache__/
*.pyc

venv/
venv_voice_drone/
vision_env/
venv_mobile_command/

*.db3
*.ulg

.vscode/

*.so
*.o
*.a

.DS_Store

# ROS/PX4 extras
*.bag
*.bag.active
*.mcap
*.log

# Python/env
.env
*.env
.venv/

# VSCode opcional
.vscode/

# YOLO / modelos pesados
*.pt
*.onnx
*.engine

# PX4 clonado dentro do projeto
voice_command/src/px4_ros_com/